@page "/about"

<PageTitle>Beau Findlay - About</PageTitle>

<Title CssClass="text-center pb-4">This App</Title>
<Text>
    Below is an overview of how this simple app is made and what
    technologies are used. If you'd like to dive straight in, the full
    project is available on my
    <AnchorLink Href="https://github.com/bdfin/my-portfolio">
        GitHub
    </AnchorLink>.
</Text>

<section>
    <Subtitle>App</Subtitle>

    <Text>
        This app was originally made using
        <AnchorLink Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">.NET Blazor WASM</AnchorLink>
        and then re-written in
        <AnchorLink Href="https://react.dev/">React</AnchorLink>
        with
        <AnchorLink Href="https://www.typescriptlang.org/">TypeScript</AnchorLink>
        as a learning exercise. I've now migrated it back to .NET Blazor to take advantage of static server-side
        rendering for maximum performance and to remove unnecessary dependencies on large JS and CSS libraries.
    </Text>
    <Text>
        This version uses pure vanilla CSS with CSS variables for theming, eliminating all JavaScript and external
        dependencies; the mobile menu uses a CSS checkbox hack for zero-JavaScript interactivity.
    </Text>
</section>

<section class="mt-8">
    <Subtitle>Hosting & Deployment</Subtitle>

    <Text>
        TODO: This section
    </Text>
</section>

