@page "/"

<PageTitle>Beau Findlay - Home</PageTitle>

<Title CssClass="text-center mb-8">Hi, I'm Beau.</Title>
<Text>
    I'm a UK-based software engineer and I love building cool stuff.
</Text>
<Text>
    I specialise in C#/.NET development and I've built systems that scale for hundreds-of-thousands of global users.
</Text>
<Text>
    I've worked with businesses at all sizes and stages and I'm currently heading up the tech as CTO at a cool startup
    called
    <AnchorLink Href="https://unhurdmusic.com">un:hurd music</AnchorLink>
    .
</Text>
<Text>
    I believe in a privacy-first, information-focussed and performant internet. You won't find any trackers, analytics
    or the need for a cookie banner here.
</Text>
