@page "/privacy-policy"

<PageTitle>Beau Findlay - Privacy Policy</PageTitle>

<Title CssClass="text-center mb-6">Privacy Policy</Title>
<i>Last updated: 31 January 2025</i>

<section>
    <Subtitle>About this website</Subtitle>

    <Text>This is a personal website operated by Beau Findlay.</Text>
</section>

<section>
    <Subtitle>Information collection</Subtitle>

    <Text>This website does not collect, store, or process any personal data and I will never track you or collect your
        information.
    </Text>
</section>

<section>
    <Subtitle>Cookies</Subtitle>

    <Text>
        This website uses Cloudflare for security and performance. Cloudflare may set cookies on your device under
        certain circumstances (such as when verifying you're not a bot):
    </Text>
    <ul class="mb-6">
        <li><em class="font-bold">__cf_bm</em> - Used for bot detection (expires after 30 minutes)</li>
        <li><em class="font-bold">cf_clearance</em> - Stores proof you passed a security challenge (expires within 24
            hours)
        </li>
    </ul>

    <Text>
        These cookies are only set when needed, are strictly necessary for the website to function securely, and are not
        used for tracking or advertising. Under normal browsing, no cookies are set.
    </Text>

    <Text>Cloudflare may process technical data to provide these services. See
        <AnchorLink Href="https://www.cloudflare.com/privacypolicy/">Cloudflare's Privacy Policy</AnchorLink>
        for details.
    </Text>
</section>

<section>
    <Subtitle>Contact</Subtitle>

    <Text>If you have questions about this policy, you can reach me by <a href="mailto:me@beaufindlay.com"
                                                                          class="underline">email</a>.
    </Text>
</section>