@* Contact call-to-action *@

<div class="contact-section">
    <Text>If you think I can help with your project...</Text>
    <a href="mailto:me@beaufindlay.com"
       class="contact-button">
        Get in touch
        <Icon Type="IconType.SendArrow"/>
    </a>
</div>
