@* Footer component *@

<div class="page-footer">
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <a href="/privacy-policy"
                   class="footer-link">Privacy Policy</a>

                <p class="footer-text">
                    &copy; @DateTime.Now.Year Beau Findlay. All rights reserved.
                </p>

                <SocialIcons/>
            </div>
        </div>
    </footer>
</div>
