@* Footer component *@

<div class="page-footer">
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <SocialIcons/>
                <p class="footer-text">
                    &copy; @DateTime.Now.Year Beau Findlay. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</div>
