/* Layout */

/* Container */
.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-6);
    padding-right: var(--space-6);
}

@media (min-width: 1024px) {
    .container {
        padding-left: var(--space-10);
        padding-right: var(--space-10);
    }
}
