@* Social media links *@

<div class="social-icons-container">
    <a href="https://github.com/bdfin"
       class="social-icon-link">
        <span class="sr-only">GitHub</span>
        <Icon Type="IconType.Github"/>
    </a>
    <a href="https://www.linkedin.com/in/beau-findlay/"
       class="social-icon-link">
        <span class="sr-only">LinkedIn</span>
        <Icon Type="IconType.LinkedIn"/>
    </a>
    <a href="mailto:me@beaufindlay.com"
       class="social-icon-link">
        <span class="sr-only">Email</span>
        <Icon Type="IconType.Email"/>
    </a>
</div>
