<button type="@Type" disabled="@IsLoading"
        class="border-0 ring-1 ring-inset ring-gray-300 bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 disabled:bg-gray-800 disabled:cursor-progress">
    @if (IsLoading)
    {
        <LoadingSpinner Size="LoadingSpinnerSize.Small"/>
    }
    else
    {
        @ChildContent
    }
</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public bool IsLoading { get; set; }

}