@page "/"

<PageTitle>Home - Beau Findlay</PageTitle>

<div>
   <h1 class="text-3xl">
      <Typewriter Text="Hi! I'm Beau."/>
   </h1>
   <p class="text-lg mt-3">
      <Typewriter Text="Welcome to my portfolio site." />
   </p>
</div>