@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
}

.blinking-cursor {
    animation: blink 1s step-end infinite;
}

.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}

.grecaptcha-badge {
    visibility: hidden !important;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px solid white;
}